.embla-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: -40px;
}

.embla-dot {
  background-color: var(--color-text-secondary);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.3s;
}

.embla-dot.is-selected {
  background-color: var(--color-primary-red);
}